<html>
  <head>
    <title>CMate</title>
  </head>
  <body>
    <table border="0px">
      <tr>
        <td colspan="3">
          <!--navbar-->
          {% include 'chat/navbar.html'%}
        </td>
      </tr>
      <tr>
        <td>
          <!--trending-->
          <b><h3><i>Trending</i></h3></b>
          <div class="template">
            {% include 'chat/subject.html'%}
          </div>
        </td>
        <td>
          <!--Chats and messages-->
          {% include 'chat/chatpage.html'%}
        </td>
        <td>
          <!--friends---->
        </td>
      </tr>
    </table>
  </body>
</html>
