<html>
  <head>
    <title>CMate</title>
     {% load staticfiles %}
  </head>
  <body>
    <table>
      <tr>
        <td>
        </td>
      </tr>
      <tr>
        <td>
          <!--trending-->
          {% if error %}
            {{error}}
          {% endif %}
          <b><h3><i>Trending</i></h3></b>
          <form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <input type='file' name='profile' value='Picture'/>
            <input type='submit' name='Profile' value='Submit' />
          </form>
        </td>
          <img src='{{Picture.profile.path}}' width='100px' height='100px'/>
          {{Picture.profile.path}}
          <!--0724 884 820-->
        <td>
          <!--Chats and messages-->
        </td>
        <td>
          <!--friends---->
        </td>
      </tr>
    </table>
  </body>
</html>
